<footer class="text-center" >
    <div class="mb-1" >
        <small>
            © 2021 made with <i class="fa fa-heart" style="color:red;  "></i> by - <a target="_blank"
                rel="noopener noreferrer" href="#">
                Ky Phan
            </a>
        </small>
    </div>
</footer>
<!-- <script src="./javascripts/table_script.js"></script> -->