<ul class="list-group">
    <div class="list-group-item bg-danger text-center text-white">Thông báo mới</li>
</ul>

<div style="overflow-y:scroll;height: 400px;">
    <% announ.forEach((element, index) => { %> 
        <%- 
        `<div class="callout callout-info">
            <i>${element.created_at.toLocaleString()}</i>
            <br>
            <h5>${element.title}</h5>
            ${element.content}
        </div>`
        %>
    <% });  %> 
</div>

