
<div style="height: auto;">
       
        <div class="callout callout-info">
            <i style="padding-left: 10px;"><%- announ.created_at.toLocaleString() %></i>
            <br>
            <h5 style="text-align:center; font-size: 30px;"><%- announ.title %></h5>
            <p style="font-size: 20px;padding-left: 10px;"> <%- announ.content %> </p>
        </div>
 
</div>

