<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<link href="stylesheets/login_style.css" rel="stylesheet" type="text/css">
    <body>
      <%- body %>
      <%- include('../partials/footer.ejs') %>
        <%- include('../partials/javascript.ejs') %>
    </body>
</html>