<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Danh sách thông báo</li>
    </ol>
</nav>
<%- contentFor('Pagination') %>
<!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->
  <select class="department custom-select mb-3">
    <option> -- Xem thông báo theo khoa -- </option>
    <% department.forEach((element, index) => { %> 
      <%- 
      `
      <option value="${element._id}">${element.name}</option>
      `
      %>
    <% });  %> 
  </select>


  <select class="categories custom-select mb-3">
    <option> -- Xem thông báo theo thể loại -- </option>
    <% categories.forEach((element, index) => { %> 
      <%- 
      `
      <option value="${element._id}">${element.name}</option>
      `
      %>
    <% });  %> 
  </select>

 

<div class="list-group-item bg-primary text-center text-white my-2"><a class="text-white" href="/announ/create">Tạo thông báo mới</a></div>
<%- include('./partials/notification.ejs') %> 

