<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Danh sách thông báo</li>
    </ol>
</nav>
<%- contentFor('Pagination') %>

  <select class="department custom-select mb-3">
    <option> -- Xem thông báo theo khoa -- </option>
    <% department.forEach((element, index) => { %> 
      <%- 
      `
      <option value="${element._id}">${element.name}</option>
      `
      %>
    <% });  %> 
  </select>


  <select class="categories custom-select mb-3">
    <option> -- Xem thông báo theo thể loại -- </option>
    <% categories.forEach((element, index) => { %> 
      <%- 
      `
      <option value="${element._id}">${element.name}</option>
      `
      %>
    <% });  %> 
  </select>

 

<div class="list-group-item bg-primary text-center text-white my-2"><a class="text-white" href="/announ/create">Tạo thông báo mới</a></div>
<%- include('./partials/notification.ejs') %> 

