<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Chi tiết thông báo</li>
    </ol>
</nav>



<div class="list-group-item bg-primary text-center text-white my-2"><a class="text-white" href="/announ">Danh sách thông báo</a></div>
<%- include('./partials/notification-detail.ejs') %> 