<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active">Quản lý người dùng</li>
    </ol>
</nav>

<!-- List department -->
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Users</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addUserModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>
						<a href="#deleteUserModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>STT</th>
						<th>Role</th>
						<th>Tên</th>
                        <th>Phòng Ban/Khoa</th>
                        <th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% users.forEach((element, index) => { %> 
						<%- 
							`<tr id="${index+1}">
								<td>
									<span class="custom-checkbox">
										<input type="checkbox" id="checkbox1" name="options[]" value="1">
										<label for="checkbox1"></label>
									</span>
								</td>
								<td>${index+1}</td>
								<td class="id" hidden>${element._id}</td>
								<td class="role ${element.role}">${element.role}</td>
								<td class="username" hidden>${element.username}</td>
								<td class="name ${element.name}">${element.name}</td>
                                <td class="department_id" hidden>${element.department._id}</td>
								<td class="department">${element.department.name}</td>
                                <td class="email">${element.email}</td>
								<td>
									<a href="#editUserModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
									<a href="#deleteUserModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
								</td>
							</tr>` 
						%> 
					<% });  %> 
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div>
		</div>
	</div>        
</div>
<!-- Add Modal HTML -->
<div id="addUserModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">						
				<h4 class="modal-title">Add User</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
                <div class="form-group">
                    <label class="mt-2">Họ và tên</label>
                    <input type="name" class="form-control" id="Name" name="name">
                    <label class="mt-3">Khoa/Phòng ban</label>
                    <select class="form-control" id="department_id" name="department_id">
                        <% department.forEach((element, index) => { %> 
                            <%- 
                            `<option value="${element._id}">${element.name}</option>`
                            %>
                        <% });  %> 
                    </select>
                    <label class="mt-3">Username</label>
                    <input type="username" class="form-control" id="username" name="username">
                    <label class="mt-3">Role</label>
                    <select class="form-control" id="role" name="role">
                        <option>Admin</option>
                        <option>Viên chức</option>
                    </select>
                    <label class="mt-3">Email</label>
                    <input type="email" class="form-control" name="email" id="add-email">
                    <label class="mt-3">Password</label>
                    <input type="password" class="form-control" name="password" id="add-password">
                </div>
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
				<input type="submit" class="btn btn-success" value="Add" onclick="add()">
			</div>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editUserModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">						
					<h4 class="modal-title">Edit User</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div id="tr_id" hidden></div>
						<div id="_id" hidden></div>
						<label class="mt-2">Họ và tên</label>
						<input type="name" class="form-control" id="edit-name" name="name">
						<label class="mt-3">Khoa/Phòng ban</label>
						<select class="form-control" id="edit-department_id" name="department_id">
							<% department.forEach((element, index) => { %> 
								<%- 
								`<option value="${element._id}">${element.name}</option>`
								%>
							<% });  %> 
						</select>
						<label class="mt-3">Username</label>
						<input type="username" class="form-control" id="edit-username" name="username">
						<label class="mt-3">Role</label>
						<select class="form-control" id="edit-role" name="role">
							<option>Admin</option>
							<option>Viên chức</option>
						</select>
						<label class="mt-3">Email</label>
						<input type="email" class="form-control" id="edit-email" name="email">
						<!-- <label class="mt-3">Password</label>
						<input type="password" class="form-control" id="edit-password" name="password"> -->
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-info" value="Save" onclick="edit()">
				</div>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<% users.forEach((element, index) => { %> 
	<%- 
	`<div id="deleteUserModal" class="modal fade">
	
	<div class="modal-dialog">
		<div class="modal-content">
			
			<form id="${index+1}">
				<div class="modal-header">		
									
					<h4 class="modal-title ${element.name}"><b> ${element.name}</b></h4>
					
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					
						<input type="submit" class="btn btn-danger" value="Delete" onclick="deleteUser()">
				</div>
			</form>
			
		</div>
		 
	</div>
	
</div>`
%>
<% });  %> 
<script src="/javascripts/table_script.js"></script>

<script>
	$("a.edit").click(function(){
			let get_id = $(this).closest("tr").find("td.id").text();
			let get_name = $(this).closest("tr").find("td.name").text();
			let get_deparment = $(this).closest("tr").find("td.department").text();
			let get_deparment_id = $(this).closest("tr").find("td.department_id").text();
			let get_username = $(this).closest("tr").find("td.username").text();
			let get_role = $(this).closest("tr").find("td.role").text();
			let get_email = $(this).closest("tr").find("td.email").text();
			let tr_id =$(this).closest("tr").parent().find("tr").attr("id");
			// console.log(get_id,get_name,get_deparment,get_deparment_id,get_username,get_role,get_email)
			console.log(tr_id)
			$("#tr_id").text(tr_id)
			$("#_id").text(get_id)
			$("#edit-name").val(get_name)
			$("#edit-username").val(get_username)
			$("#edit-email").val(get_email)
			$("#edit-name").val(get_name)
    });
	function add() {	
		$.ajax({
			type: "POST",
			url: "/account/register",
			data: {
				"name":$("#Name").val(),
                "department_id":$("#department_id option").filter(':selected').val(),
                "username":$("#username").val(),
                "role":$("#role").val(),
                "email":$("#add-email").val(),
                "password":$("#add-password").val()
			},
			success: (data)=>{
				let json = data.data
				console.log(data)
				$("tbody").append(
					`<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
						<td>New</td>
						<td class="id ${json.role}">${json.role}</td>
						<td class="name ${json.name}">${json.name}</td>
						<td>${$("#department_id option").filter(':selected').text()}</td>
						<td>${json.email}</td>
						<td>
							<a href="#editUserModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="#deleteUserModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>` 
				)
				$("#addUserModal").modal('toggle')
				location.reload();
			}
		});
	}
    function edit() {
        let get_tr_id = $("#tr_id").text()
        let get_id = $("#_id").text()
		let get_name = $("#edit-name").val()
		let get_deparment = $("#edit-department_id option").filter(':selected').text()
		let get_deparment_id = $("#edit-department_id option").filter(':selected').val()
		let get_username = 	$("#edit-username").val()
		let get_role = "Admin da sua";
		let get_email = $("#edit-email").val()
        let url = "/account/"+get_id
		// console.log(url)
		$.ajax({
			type: "PUT",
			url: url,
			data: {
				"name":get_name,
                "_departmentId":get_deparment_id,
                "username":get_username,
                "role":get_role,
                "email":get_email
			},
			success: (data)=>{
				let json = data.data
				console.log(data)
				$("#"+get_tr_id).remove()
				$("tbody").append(
					`<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
						<td>Update</td>
						<td>${get_role}</td>
						<td>${get_name}</td>
						<td>${get_deparment}</td>
						<td>${get_email}</td>
						<td>
							<a href="#editUserModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="#deleteUserModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>` 
				)
				$("#editUserModal").modal('toggle')
				location.reload();
			}
		});
	}
	
	function deleteUser(__id) {
		let get_id = $("#_id").text()
	
        let url = "/account/"+ __id
		$.ajax({
			type: "DELETE",
			url: url,
			data:{
				"id" : get_id,
				"name":$("#Name").val(),
			},
			success: (data)=>{
				let json = data.data

				$("form").append(
					`<div class="modal-header">		
									
									<h4 class="modal-title ${json.name}"><b> ${json.name} </b></h4>
									
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">					
									<p>Are you sure you want to delete these Records?</p>
									<p class="text-warning"><small>This action cannot be undone.</small></p>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
									
										<input type="submit" class="btn btn-danger" value="Delete" onclick="deleteUser(${json._id})">
								</div>` 
				)
				$("#deleteUserModal").modal('toggle')
				location.reload();
					
			}
		});
	}
</script>

	






